rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allows public read/write for client-side custom administrative authentication
    match /watches/{watchId} {
      allow read, write: if true;
    }

    match /settings/{settingsId} {
      allow read, write: if true;
    }

    match /users/{userId} {
      allow read, write: if true;
    }

    match /orders/{orderId} {
      allow read, write: if true;
    }
  }
}
